@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    padding: 10px;
    border-radius: 10px;
}

header {
    background-color: rgb(143, 177, 241);
    color: #fff;
    box-shadow: 3px 3px 4px rgb(153, 152, 152);
}

header div {
    display: flex;
    flex-basis: 50%;
}

.my-image {
    
    margin: 5px;
    flex: 1;
}

.my-name {
    flex: 2;
    align-items: flex-end;
    text-shadow: 2px 2px 5px rgb(24, 23, 23)

}
.item-2 {
    align-self: center;
}

footer {
    background-color: rgb(143, 177, 241);
    color: #fff;
    padding: 3px;
    box-shadow: 3px 3px 4px rgb(153, 152, 152);
        text-shadow: 2px 2px 5px rgb(24, 23, 23)

}

main h2 {
    border-bottom: 1px solid black;
    margin-top: -10px;
    text-shadow: 2px 2px 2px rgb(207, 203, 203);
}

main p {
    border-top: 1px solid black;
    margin-bottom: -10px;
}