.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.menu-container {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: rgb(59, 58, 58);
    border-radius: 2px;
}


.scenario-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}