.main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.menu-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(59, 58, 58);
    border-radius: 2px;
}
