*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 50px;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

/* Header */
.banner .header-container {
    background: rgb(34, 3, 175);
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2px;

}

/* Navbar */
.navbar {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(59, 58, 58);
    border-radius: 2px;
}

.menu-container li {
    list-style: none;
    padding: 0.8rem;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 200ms ease-in;
}

.menu-container a {
    text-decoration: none;
    color: white;
}

.menu-container a:hover {
    color: rgb(117, 248, 237);
}

.menu-container a:active {
    color: rgb(117, 248, 237);
}

.menu-container li:hover {
    border-bottom: 1px solid white;
}

/* Main */
.main-container {
    display: grid;
    grid-template-columns: 1fr;
}

.card h3 {
    margin: .4rem 0rem;
}

.card {
    margin: 10px;
    padding: 10px 10px;
    box-shadow: 0 0 10px rgb(168, 168, 168);
}

.card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card4 img {
    width: 50%;
}

.color {
    display: flex;
    flex: 1 2;
    flex-direction: column;
    width: 100%;

}

.color .card {
    background-color: rgb(165, 165, 165);
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    align-items: center;
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6 {
    display: flex;
}

.color .card div {
    padding-left: 5px; 
}

.color1-color {
    background-color: rgb(5, 3, 109);
    width: 100%;
    height: 50px;
}

.color2-color {
    background-color: rgb(34, 3, 175);
    width: 100%;
    height: 50px;
}

.color3-color {
    background-color: #333;
    width: 100%;
    height: 50px;
}

.color4-color {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
}

.color5-color {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
}

.color6-color {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
}

/* Footer */
.footer div {
    background: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}