@media only screen and (min-width: 670px) {
    .medium-large-footer {
        display: flex;
        justify-content: space-around;
        align-items: center
    }

    .card6 .spotlt{
        display: flex;
        flex-wrap: nowrap;
    }

    .footer-image-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-title h3 {
        margin-top: 0;
        margin-left: 20px;
    }

    .dcard .picture-element:hover {
        box-shadow: 0 0 20px black;
    }

    /* ---------------------- Directory - listView ------------------------------ */

    div.list section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 20px;
    }

    div.list section:nth-child(odd) {
        background-color:rgba(3, 13, 99, 0.2);
    }
    /* ---------------------- Directory - gridView ------------------------------ */
    div.cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }


}