@media only screen and (min-width: 40rem) {
    .medium-large-footer {
        display: flex;
        justify-content: space-around;
        align-items: center
    }

    .footer-image-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-title h3 {
        margin-top: 0;
        margin-left: 20px;
    }
}