* {
    box-sizing: border-box;
/*     border: .2px solid #333; */
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background: #eee;
}

/*--------------------------- Header -----------------------*/
.logo-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(3, 13, 99);
}

.fa {
    color: white;
    border: none;
    width: 1.5rem;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

#meetingBanner {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding: 10px;
    margin: 2px 0;
    display: none;
}

#meetingBanner.True{
    display: block;
}

.btn-area div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-and-name {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 2vw;
}

.page-title>h2{
    margin-bottom: -1rem;
}

/*--------------------- Date area -------------------*/
.date-area {
    border: 1px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.3);
}

p#headerdate {
    font-weight: bold;
    text-align: center;
    border: 1px solid #333;
    padding: 10px 5px;
    margin: 0;
}

/*----------------------- Button-------------------- */
#navBtn {
    margin: .2rem 5vw;
    background: transparent;
    border: 1px solid white;
    padding: 1rem;
    width: 3rem;
    color: white;
}

/*------------------------- Navigation ---------------*/
nav {
    background-color: rgb(53, 91, 148);
}

nav ul {
    display: none;
    margin: 0;
    padding: 0;
    
}

nav ul.open {
    display: block;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0,0,0,0.3);
    transition: all 0.2s ease-out;
}

nav ul li a:hover{
    background-color: rgb(51, 65, 146);
    
}

/*-------------------- Main------------------------ */

.card {
    border: 1px solid rgba(0,0,0,0.3);
    margin: 1rem 2vw;
    padding: 1rem 2vw;
    box-shadow: 0 0 2px #333;
    background: linear-gradient( rgb(63, 90, 199) 20%, rgb(5, 28, 120));
    border-radius: 5px;
}

.card6 {
    background: rgb(5, 28, 120)
}

.card1 {
    position: relative;
    padding: 0;
}

picture img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.card1 h2 {
    background-color: rgba(0,0,0,0.3);
    display: inline;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    position: absolute;
    color: white;
    left: 20px;
}

.card1 a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(7, 167, 68);
    padding: 10px;
    border-radius: 10px;
    right: 5px;
    bottom: 10px;
    transition: all 0.2s ease-out;
}

.card1 a:hover {
    background-color: rgb(9, 114, 6);
    text-shadow: 0 0 20px rgb(0, 0, 0);

}


.card .spotlight {
    border: 1px solid white;
    padding: 10px;
    background: linear-gradient( rgb(63, 90, 199) 20%, rgb(5, 28, 120));

}

.card2,
.card3,
.card4,
.card5,
.card6,
.card7 {
    color: white;
    line-height: 1.5rem;
    text-shadow: 0 0 5px#333;
    text-align: center;
}

.card5 a {
    display: none;
}


.card3 .weather-image{
    background-color: rgba(0,0,0,0.2);
    font-size: 1.5rem;
}

/* spotlight images */
.company-image {
    width: 50%;
    margin: 10px auto;
}

.company-image img {
    width: 100%;
}

/* Images */
.banner>img,
footer div>img {
    max-width: 100px;
    border-radius: 10px;
}

.banner>img {
    margin-right: 1rem;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
}

.weather-image img{
    width: 10vw;
}

.weather-description h2 {
    margin-top: 0;
    width: 30%;
    margin: 0 auto;
}

/* Footer */
footer {
    background: rgb(3, 13, 99);
    color: white;
    padding: 1rem 2vw;
    text-align: center;
}

.fa .fa-map-marker {
    width: 10%;
    padding: 0 2px;
}

footer .contact p.phone {
    margin-bottom: 0;
    padding-bottom: 0;
}
footer .contact a {
    text-decoration: none;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

footer .contact a:hover {
    text-decoration: underline;
    color: white;
}

.copyright {
    border-top: 1px solid white;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Discover Page */
.dcard {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 1rem 2vw;
    padding: 1rem 2vw;
    box-shadow: 0 0 2px #333;
    background: white;
    border-radius: 5px;
}

.dcard .picture-element img[data-src]{
    width: 100%;
    filter: blur(.2rem)
}

.dcard .picture-element img{
    width: 100%;
    filter: blur(0);
}

/*-------------- Discovery - Last Visited ----------*/
.days-elapsed {
    margin-left: 2vw;
    font-weight: bold;
}

.last-visited {
    color: red;
}

.picture-description {
    border: 1px solid rgba(0,0,0,0.3);
    width: auto;
    margin: 1rem 2vw;
    padding: 1rem 2vw;
    box-shadow: 0 0 2px #333;
    background: white;
    border-radius: 5px;
}

/* ------------------- FORM --------------------- */
.form-area h1.form-header {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: white;
    background: linear-gradient(120deg, rgb(6, 29, 122), rgb(118, 120, 5));
}

form {
    margin: 10px 10px;
    padding: 10px 10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
}

form fieldset {
    margin: 2rem 3%;
    border: 2px solid rgb(3, 13, 99);
    border-radius: 5px;
    padding: 1rem 3%;
}

form legend {
    color: rgb(3, 13, 99);
    font-weight: bold;
    margin: 0 auto;
    padding: 0 0.5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color:rgb(3, 13, 99);
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: 1px solid rgb(3, 13, 99);
    border-radius: 3px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1)
}

form label.sbs {
    display: block;
    padding: .7rem 0;
    color:rgb(3, 13, 99);
}

form label.top input:required {
	border-bottom: red solid 3px;
}

form label.top input:required:valid {
	border-bottom: green solid 3px;
}

form label textarea {
    width: 100%;
    min-height: 100px;
}

form input.submitBtn {
    border: none;
	background-color: rgb(7, 167, 68);
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 100%;
	max-width: 20rem;
    transition: all 0.2s ease-out;
}

form input.submitBtn:hover {
    background-color: rgb(4, 100, 41);
}

form div.levels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.np-level,
.bronze-level,
.silver-level,
.gold-level {
    border: 2px solid gold;
    background: linear-gradient( rgb(63, 90, 199) 10%, rgb(5, 28, 120));
    color: white;
    margin: 3px;
    padding: 1rem;
}

/*----------------------- Directory -------------------- */
.directory-header {
    text-align: center;
}

div.directory-btns {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

div.directory-btns button {
    background-color: rgba(3, 13, 99, 1);
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

div.directory-btns button:hover {
    box-shadow: 0 0 10px black;
    border: none;
}

div.directory-btns button i {
    width: 100%;
}

/* ---------------------- Directory - listView ------------------------------ */

div.list section {
    margin: 10px 10px;
    padding: 10px;
}

div.list section img {
    width: 100%;
    display: none;
}
/* ---------------------- Directory - gridView ------------------------------ */
div.cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
div.cards section {
    margin: 10px 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.cards section img {
    width: 100%;
    padding: 10px;
}

div.cards section p#business-name {
    display: none;
}

div.list section:nth-child(odd) {
    background-color:rgba(3, 13, 99, 0.2);
}

