* {
    box-sizing: border-box;
/*     border: .2px solid #333; */
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

/* Header */
.logo-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(3, 13, 99);
}

.fa {
    color: white;
    border: none;
    width: 1.5rem;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.btn-area div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-and-name {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 2vw;
}

.page-title>h2{
    margin-bottom: -1rem;
}

/* Date area */
.date-area {
    border: 1px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.3);
}

p#headerdate {
    font-weight: bold;
    text-align: center;
    border: 1px solid #333;
    padding: 10px 5px;
    margin: 0;
}

/* Button */
#navBtn {
    margin: .2rem 5vw;
    background: transparent;
    border: 1px solid white;
    padding: 1rem;
    width: 3rem;
    color: white;
}

/* Navigation */
nav {
    background-color: rgb(53, 91, 148);

/*     transition: all 0.2s ease-out; */
}

nav ul {
    display: none;
    margin: 0;
    padding: 0;
    
}

nav ul.open {
    display: block;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0,0,0,0.3);
    transition: all 0.2s ease-out;
}

nav ul li a:hover{
    background-color: rgb(51, 65, 146);
    
}

/* Main */
.card {
    border: 1px solid rgba(0,0,0,0.3);
    margin: 1rem 2vw;
    padding: 1rem 2vw;
    box-shadow: 0 0 2px #333;
    background: linear-gradient( rgb(8, 35, 145) 20%, rgb(107, 119, 165))
}


.card1 {
    background-image: url(../images/banner.jpg);
    background-size: 100%;
    color: white;
    position: relative;
}

.card1 h2 {
    background-color: rgba(0,0,0,0.3);
    display: inline;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}

.card1 a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(53, 91, 148);
    padding: 10px;
    border-radius: 10px;
    right: 5px;
    bottom: 10px;
    transition: all 0.2s ease-out;
}

.card1 a:hover {
    background-color: rgb(85, 114, 156);
}


.card .spotlight {
    border: 1px solid white;
    padding: 10px;
}

.card2,
.card3,
.card4,
.card5,
.card6 {
    color: white;
    line-height: 1.5rem;
    text-shadow: 0 0 5px#333;
    text-align: center;
}

/* spotlight images */
.company-image {
    width: 50%;
    margin: 10px auto;
}

.company-image img {
    width: 100%;
}

/* Images */
.banner>img,
footer div>img {
    max-width: 100px;
    border-radius: 10px;
}

.banner>img {
    margin-right: 1rem;
}


/* Footer */
footer {
    background: rgb(3, 13, 99);
    color: white;
    padding: 1rem 2vw;
    text-align: center;
}

.fa .fa-map-marker {
    width: 10%;
    padding: 0 2px;
}

footer .contact p.phone {
    margin-bottom: 0;
    padding-bottom: 0;
}
footer .contact a {
    text-decoration: none;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

footer .contact a:hover {
    text-decoration: underline;
    color: white;
}

.copyright {
    border-top: 1px solid white;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}
